body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #4b0082;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

.hamburger {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: #4b0082;
}

.nav-links.show {
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ccc;
}

main {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 5px;
    font-weight: bold;
}

footer {
    background-color: #4b0082;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 5px 0;
}


@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

/**/
.titlemain{
    text-align: left;
    position: relative;
    left: 20px;
    }
